.main-page {
  height: 100%;
  width: 80%;
  margin: 1em auto;
}
.main-page__link-transform {
  max-width: 60%;
  margin: auto;
}
.main-page__links {
  margin-top: 2em;
}
.main-page__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.table {
  display: grid;
  width: 100%;
  /* overflow: auto; */
  grid-template-columns: max-content auto max-content;
  /* grid-template-columns: max-content 1fr max-content; */
  grid-template-rows: auto;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.table__ceil {
  padding: 5px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.table____initial {
  overflow: hidden;
  width: 100%;
}
.table__link {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: underline;
  overflow: hidden;
}
.table__link:hover {
  text-decoration: none;
}
.table__ceil {
  min-width: 0;
}
.table__ceil--sort {
  text-decoration: underline;
  cursor: pointer;
}
.table__ceil--sort:hover {
  text-decoration: none;
}
.table__ceil--header {
  font-weight: bold;
}
