.main-page {
  height: 100%;
  width: 80%;
  margin: 1em auto;
}
.main-page__link-transform {
  max-width: 60%;
  margin: auto;
}
.main-page__links {
  margin-top: 2em;
}
.main-page__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.table {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: auto;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.table__ceil {
  padding: 5px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
